html {
  scroll-behavior: smooth;
}

body {
  animation: fadein 2s;
}

#wrapper {
  padding-bottom: 0;
  .breadcrumb {
    padding-top: 15px;
  }
  .banner {
    margin-bottom: 0;
  }
}

#main {
  min-height: 450px;
}

h1, .block-spacing {
  margin-bottom: $primary-block-spacing;
}

h1 {
  margin-top: $secondary-block-spacing;
}

body#checkout #header .header-nav,
body#checkout #header .header-top {
  padding-bottom: 4px;
}

.copyright {
  opacity: 1;
  .material-icons {
    font-size: 16px;
    margin: 0 3px;
    color: $primary-link-color;
    animation: blinker 1.5s linear infinite;
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: $primary-link-color;
}

@media (max-width: 767px) {
  .block_newsletter {
    border-bottom-color: transparent;
  }
}

#mobile_top_menu_msc_wrapper .js-top-menu-bottom a,
#mobile_top_menu_wrapper .js-top-menu-bottom a {
  color: #000;
}