html {
  scroll-behavior: smooth;
}

body {
  animation: fadein 2s;
}

#wrapper {
  padding-bottom: 0;
  .breadcrumb {
    padding-top: 15px;
  }
  .banner {
    margin-bottom: 0;
  }
}

#main {
  min-height: 450px;
}

h1, .h1, .block-spacing {
  margin-bottom: $primary-block-spacing;
}

h1 {
  margin-top: $secondary-block-spacing;
}

@media only screen and (min-width : 768px ) {
  h1 {
    &.text-md-large {
      font-size: 45px;
    }
  }
}



body#checkout #header .header-nav,
body#checkout #header .header-top {
  padding-bottom: 4px;
}

.copyright {
  opacity: 1;
  .material-icons {
    font-size: 16px;
    margin: 0 3px;
    color: $primary-link-color;
    animation: blinker 1.5s linear infinite;
  }
}

.breadcrumb {
  display: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: $primary-link-color;
}

.top-menu .sub-menu ul[data-depth="1"] > li:first-child {
  padding-top: 10px;
}

@media (max-width: 767px) {
  .block_newsletter {
    border-bottom-color: transparent;
  }
}

#mobile_top_menu_msc_wrapper .js-top-menu-bottom a,
#mobile_top_menu_wrapper .js-top-menu-bottom a {
  color: $dropdown-item-color;
}

#mobile_top_menu_msc_wrapper .user-info a {
  border: none;
}

.line-behind {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  &:before {
    border-top: 1px solid $listing-desc-color;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    z-index: -1;
    width: 80%;
  }
  span {
    background: $primary-background;
    padding: 0 15px;
  }
}

hr.symbolic {
  background: url('../img/hr.svg') no-repeat top center;
  background-size: contain;
  display: block;
  height: 64px;
  border: 0;
  position: relative;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    background: $primary-seperator-color;
    height: 1px;
    top: 28px;
  }
  &:before {
    left: 0;
    right: 50%;
    margin-right: 30px;
  }
  &:after {
    right: 0;
    left: 50%;
    margin-left: 30px;
  }
}