#header, body#checkout #header {
  position: relative;

  #_desktop_search_me,
  #_desktop_currency_selector,
  #_desktop_language_selector,
  #_desktop_user_info,
  #_desktop_cart {
    margin-top: 0px;
  }

  #roselle-navbar {
    border-width: 0 0 1px;
    box-shadow: 0 0.5px 2px -1px rgba(0, 0, 0, .75);
  }
  .navbar-fixed-top {
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
  }

  .header-nav {
    .right-nav {
    }
    .blockcart {
      margin-bottom: 0;
      padding-right: 0;
    }
    .user-info {
      margin-bottom: 0;
    }
  }

  .header-top {
    .logo-wrapper {
      margin: 0;
      padding: 0;
      padding-top: 4px;
      position: absolute;
      z-index: 11;
      top: -50px;
      left: 50%;
      transition: all 0.4s ease 0s;
      a {
        display: block;
        margin: auto;
        transition: all 0.4s ease 0s;
      }
      img {
        max-width: 100%;
      }
      .logo {
        display: block;
        height: auto;
        max-height: initial;
      }
      &.shrink {
        img {
          border-width: 2px;
        }
      }
    }

    .menu-wrapper {
      margin: 0;
      padding: 0;
      width: 100%;
      .menu {
        width: 100%;
      }
      .top-menu {
        margin: 0;
        li:nth-child(4),
        li:nth-child(5),
        li:nth-child(6) {
          float: right;
        }
        li:nth-of-type(1n+7) {
          display: none;
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -40px;
    z-index: 99;
    a {
      color: #fff;
      font-size: 18px;
      height: 40px;
      display: block;
      text-align: center;
      border: 1px solid #fff;
      padding: 9px 25px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}


@media (min-width: 992px) {
  #header, body#checkout #header {
    .header-top {
      .logo-wrapper {
        margin-left: -138px; /* max-width /2 */
        a {
          max-width: 276px;
        }
        &.shrink {
          margin-left: -54px; /* max-width /2 */
          a {
            max-width: 106px;
          }
        }
      }
      .menu-wrapper {
        .top-menu {
          a[data-depth="0"] {
            padding-right: 40px;
          }
          li:nth-child(4) a[data-depth="0"]  {
            padding-right: 0;
          }
        }
      }
    }
    .header-bottom {
      min-height: 180px;
    }
  }
}

@media only screen and (min-width : 768px ) and (max-width : 991px ) {
  #header, body#checkout #header {
    .header-top {
      .logo-wrapper {
        margin-left: -103px; /* max-width /2 */
        a {
          max-width: 206px;
        }
        &.shrink {
          margin-left: -54px; /* max-width /2 */
          a {
            max-width: 106px;
          }
        }
      }
      .menu-wrapper {
        .top-menu {
          li:nth-child(4) a[data-depth="0"]  {
            padding-right: 0;
          }
        }
      }
    }
    .header-bottom {
      min-height: 130px;
    }
  }
}

@media (max-width: 767px) {
  #header, body#checkout #header {
    .header-top {
      background: transparent;
      position: relative;
    }
    .header-bottom {
      min-height: 80px;
    }
    .top-logo {
      position: absolute;
      left: 50%;
      top: 1px;
      padding-top: 0;
      margin-left: -58px;
      transition: all 0.4s ease 0s;
      .logo {
        transition: all 0.4s ease 0s;
        max-height: 116px;
      }
      &.shrink {
        margin-left: -38px;
        .logo {
          max-height: 76px;
        }
      }
    }
  }

  .roselle-bottom-image {
    background-position-x: -500px;
  }
}

#_mobile_user_info {
  .text {
    display: inline-block;
  }
}