

/* text color */
$listing-desc-color: #232323;
$footer-icon-color: #7a7a7a;

/* link color */
$primary-link-color: #c42c2e;
$primary-link-hover: #9c2324;
$primary-link-disabled-hover: #7a7a7a;
$dropdown-item-color: #373a3c;

/* background color */
$primary-background: #f1ede7;
$secondary-background: #fff;
$focus-background: rgba(255, 255, 255, 0.4);

/* seperator color */
$primary-seperator-color: #232323;
$mobile-seperator-color: #c4c1bb;

/* spacing */
$primary-block-spacing: 50px;
$secondary-block-spacing: 30px;