msc-sidebar {
  --overlay-color: rgba(0, 0, 0, .4);
  --timing-function: cubic-bezier(0, 0, .21, 1);
  --duration: 233ms;
  --z-index: 1000;
}

msc-sidebar[open] nav {
  background: $primary-background;
}

msc-sidebar nav {
  width: 70vw;
  min-height: 100%;
  display: block;
}

@media only screen and (max-width : 374px) {
  msc-sidebar nav {
    zoom: 0.85;
  }
}

msc-sidebar:not(:defined) {
  visibility: hidden;
  height: 0;
  overflow: hidden;

  display: none;
}

#mobile_top_menu_msc_wrapper {
  .header {
    height: 60px;
    border-bottom: 1px solid $mobile-seperator-color;
    a {
      display: inline-block;
      padding: 20px;
    }
  }
  .body {
    padding-top: 20px;
  }
  .top-menu {
    li {
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        background: $focus-background;
      }
    }
    .current, .on {
      & > a {
        color: $primary-link-color;
      }
    }
    .sub-menu {
      background: transparent;
      li > a {
        border-bottom-color: transparent;
      }
    }
  }

  .block-social {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .dropdown select {
    background: $primary-background;
  }

  #_mobile_user_info, #_mobile_language_selector, #_mobile_currency_selector {
    margin-left: 20px;
  }

}

mdc-select {
  --theme-color: #f1ede7; /* $primary-background */
  --label: rgba(0,0,0,.6);
  --border-color: rgba(142,142,142,.5);
  --border-color-hover: rgba(142,142,142,1);
  --bgcolor: rgba(245,245,245,.5);
  --bgcolor-hover: rgba(245,245,245,1);
}